DATABASE_URL=postgresql://USUARIO:PASSWORD@HOST/DATABASE?sslmode=require
NEXT_PUBLIC_API_URL=http://localhost:3001
EMAIL_USER=Tu correo de Gmail
EMAIL_PASS=Tu contraseña de aplicación de Gmail
FRONTEND_URL=http://localhost:3000